*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
}
.calculator{
    width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #222;
    padding: 20px;
}

.calculator h1{
    text-align: center;
    font-size: 2rem;
    margin: 10px 0;
    
}
input{
     width: 100%;
     padding: 10px;
     font-size: 1.5rem;
     border: none;
     border-radius: 5px;
     margin-bottom: 20px;
     background-color: #333;
     color: #fff;
     text-align: right;

}
input:focus{
    outline: none;
    background-color: #444;
}
button{
    width: 60px;
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #444;
    color:#fff;
    cursor:pointer;
}